<header>
  <ul class="nav">
    <li>
      <a href="/">office<small>where the heart is</small></a>
    </li>
    <li>
      <a href="/about">patient<small>all about this</small></a>
    </li>
  </ul>
</header>