<header class="header" id="header">
  <div class="header__top">
    <div class="container mobile">
      <div class="row">
        
          <div class="alert">
            <div class="alert__message">
              <p>Tap here for COVID-19 info</p>
            </div>
          </div>

      </div>
    </div>
  </div>
  <div class="header__bar">
    <div class="bar__logo">
      <img src="/images/my_post_images_1/harperortho_logo.png" alt="logo">
    </div>
    <div class="bar__hamburger">
      <h2>X</h2>
    </div>
  </div>
  <nav class="header__nav">
    <ul class="">
        <li>
          <a href="/">getting started</a>
        </li>
        <li>
          <a href="/about">location</a>
        </li>
        <li>
          <a href="/about">our patients</a>
        </li>
    </ul>
  </nav>
</header>