---
title: EleventyOne
subtitle: A project scaffold for getting building with Eleventy quickly.<br /> Made by <a href="https://twitter.com/philhawksworth">Phil</a> for <a href="https://twitter.com/philhawksworth">Phil</a>, but perhaps you might also find it useful.
layout: layouts/base.njk
---

<!-- <div><img src="images/my_post_images_1/hero-ho.jpg" alt=""></div> -->

<!-- Strat Slider Area -->
<div class="container">
  <div class="slide__carosel owl-carousel owl-theme hero">
    <div class="slider__area bg-pngimage--1  d-flex fullscreen justify-content-start align-items-center hero__image">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="slider__activation">
            <!-- Start Single Slide -->
            <div class="slide">
              <div class="slide__inner container">
                <div class="row">
                  <div class="half-circle">
                      <div class="border-circle left-circle"></div>
                      <div class="border-circle right-circle"></div>
                  </div>
                </div>
                <div class="row">
                  <h1>Braces for teens</h1>
                  <h2>Victoria, 16</h2>
                </div>
              </div>
            </div>
            <!-- End Single Slide -->
          </div>
        </div>
      </div>
  
    </div>
    
      <div class="slider__area bg-pngimage--2  d-flex fullscreen justify-content-start align-items-center">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="slider__activation">
            <!-- Start Single Slide -->
            <div class="slide">
              <div class="slide__inner container">
                <div class="row">
                  <img class="slider_logo" src="images/my_post_images_1/harperortho_logo.png" alt="harper orthodontics logo">
                </div>
                <div class="row">
                  <h1>Play & learn How to</h1>
                  <h2>Create New Things</h2>
                </div>
              </div>
            </div>
            <!-- End Single Slide -->
          </div>
        </div>
      </div>
    </div>


    <div class="slider__area bg-pngimage--3  d-flex fullscreen justify-content-start align-items-center">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="slider__activation">
            <!-- Start Single Slide -->
            <div class="slide">
              <div class="slide__inner container">
                <div class="row">
                  <img class="slider_logo" src="images/my_post_images_1/harperortho_logo.png" alt="harper orthodontics logo">
                </div>
                <div class="row">
                  <h1>Play & learn How to</h1>
                  <h2>Create New Things</h2>
                </div>
              </div>
            </div>
            <!-- End Single Slide -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area -->
<script>$(document).ready(function(){
  $(".owl-carousel").owlCarousel();
});</script>