/* @import url(_bootstrap.min.css); */
@import url(_font-awesome.min.css);
@import url(_owl.theme.default.min.css);
@import url(_owl.carousel.min.css);
@import url(_variables.css);
/* @import '_syntax.css'; */




/* Resets */
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {

}


::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  /* background-color: $page-color; */
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.8;
  min-height: 100vh;
  /* background:  $page-color; */
  /* background: url(/images/bg-grid.png), linear-gradient(320deg, $page-color 0%, $accent-color 100%); */

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
} */


p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 5em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

.nakedLink a:link,
.nakedLink a:visited,
.nakedLink a:hover,
.nakedLink a:focus {
  border-bottom-style:none;
}

.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: mix($text-color, $accent-color, 40%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 9em;
    text-align: left;
    color: mix($text-color, $accent-color, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $text-color;
      border-top-color: $text-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$accent-color, 60%);
  }
}


code {
  font-size: 0.8em;
  background-color: mix($text-color,$accent-color, 80%);
  color: rgb(42, 65, 77);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  overflow: auto;
  border-radius: 6px;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: mix($text-color, $accent-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}










/* Height and width */
.fullscreen {
  min-height: 100vh;
  width: 100%;
}

.fixed--height {
  height: 730px;
  width: 100%;
}

.w--100 {
  width: 100%;
}

.w--75 {
  width: 75%;
}

.w--50 {
  width: 50%;
}

.w--33 {
  width: 33.33%;
}

.w--25 {
  width: 25%;
}

.w--10 {
  width: 10%;
}

.h--100 {
  height: 100%;
}

.h--75 {
  height: 75%;
}

.h--50 {
  height: 50%;
}

.h--25 {
  height: 25%;
}

.h--33 {
  height: 33.33%;
}

.h--10 {
  height: 10%;
}































/*===================
  Mobile Styles
=====================*/

.mobile {
  padding: 0;
}


























/*===================
  Header Styles
=====================*/
.header {

}

.header__top {

}

.header__top .row {
  flex-direction: column;
}

.alert {
  background: #c828ad;
  color: #fff;
  margin: 0;
}

.alert p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}



.header__bar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.bar__logo img {
  max-width: 120px;
}


nav.header__nav {
  padding: 20px 0;
}

nav.header__nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
}









.half-circle {
  width: 500px;
  height: 250px; 
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  border: 35px solid gray;
  border-top: 0;

  position: relative;
  right;: 250px;
  z-index: 1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.border-circle {
  background-color: #7f7f7f;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
}
.left-circle {
  right: -8px;
  top: -20px;
  display: none;
}
.right-circle {
  bottom: 195px;
  right: -35px;
}





















/*===============================
  Slider Area
=================================*/
.slide .slide__inner h1 {
  background: #89d700;
  color: #ffffff;
  display: inline-block;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 72px;
  font-weight: 400;
  padding: 13px 30px;
}

.slide .slide__inner .slider__text {
  display: block;
  margin-bottom: 30px;
  margin-top: 1px;
}

.slide .slide__inner .slider__text h2 {
  background: #89d700;
  color: #ffffff;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 48px;
  padding: 10px 30px;
  text-transform: capitalize;
  display: inline-block;
}

.slider__btm__img-1 {
  bottom: 0;
  position: absolute;
  right: -36px;
  width: 651px;
}

.slider__btm__img-2 {
  position: absolute;
  right: 15.5%;
  top: 0;
  width: 329px;
}

.slider--two .slide .slide__inner h1 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #444444;
  font-family: Lobster Two;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 25px;
  padding: 0;
}

.slider--two .slide .slide__inner h6 {
  color: #5f9bc5;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.slider--two .slide .slide__inner p {
  color: #666666;
  line-height: 23px;
}

.slider--two .slide .slide__inner .slider__btn {
  margin-top: 47px;
}

.slider--two.slider__fixed--height {
  height: 770px;
}

.slider--three .slide .slide__inner {
  text-align: center;
}

.slider--three .slide .slide__inner h1 {
  background: transparent none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  font-family: "Bubblegum Sans", cursive;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  padding: 0;
  text-transform: uppercase;
}

.slider--three .slide .slide__inner h6 {
  color: #5f9bc5;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.slider--three .slide .slide__inner h4 {
  color: #ffffff;
  font-family: Bubblegum Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 40px;
  margin-top: 12px;
  text-transform: capitalize;
}

.slider--three .slide .slide__inner p {
  color: #666666;
  line-height: 23px;
}

.slider--three .slide .slide__inner .slider__btn {
  margin-top: 47px;
}

.slider--four .slide .slide__inner {
  text-align: left;
}

.slider--four .slide .slide__inner h1 {
  background: transparent none repeat scroll 0 0;
  color: #444444;
  display: inline-block;
  font-family: Lobster Two;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  padding: 0;
  text-transform: inherit;
}

.slider--four .slide .slide__inner h6 {
  color: #444444;
  font-family: Bubblegum Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-transform: capitalize;
  margin-top: 2px;
}

.slider--four .slide .slide__inner h6 span.color-pink {
  color: #fe007d;
}

.slider--four .slide .slide__inner h6 span.secondary-color {
  color: #fe5629;
}

.slider--four .slide .slide__inner h6 span.separator {
  color: #fe5629;
}

.slider--four .slide .slide__inner h4 {
  color: #ffffff;
  font-family: Bubblegum Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 40px;
  margin-top: 12px;
  text-transform: capitalize;
}

.slider--four .slide .slide__inner p {
  color: #666666;
  font-size: 16px;
  line-height: 25px;
  width: 60%;
  margin-top: 14px;
}

.slider--four .slide .slide__inner .slider__btn {
  margin-top: 47px;
}

.slider--four.slider__fixed--height {
  height: 850px;
}

.slider--five .slide .slide__inner {
  text-align: left;
}

.slider--five .slide .slide__inner h1 {
  background: transparent none repeat scroll 0 0;
  color: #444444;
  display: inline-block;
  font-family: Lobster Two;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 24px;
  margin-top: 14px;
  padding: 0 12% 0 0;
}

.slider--five .slide .slide__inner h6 {
  color: #fe5629;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider--five .slide .slide__inner h4 {
  color: #ffffff;
  font-family: Bubblegum Sans;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 40px;
  margin-top: 12px;
  text-transform: capitalize;
}

.slider--five .slide .slide__inner p {
  color: #666666;
  font-size: 16px;
  line-height: 25px;
  width: 60%;
  margin-top: 14px;
}

.slider--five .slide .slide__inner .slider__btn {
  margin-top: 45px;
}

.slider--five.slider__fixed--height {
  height: 770px;
}

/*-------------------------------------------
  Slider Owl Activation
--------------------------------------------*/
.slide__carosel .owl-nav div {
  height: 65px;
  left: -80px;
  line-height: 65px;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 65px;
  padding: 0 !important;
  text-align: center !important;
}

.slide__carosel .owl-nav div.owl-next {
  left: auto;
  right: -80px;
}

.slide__carosel:hover .owl-nav div {
  left: 20px;
}

.slide__carosel:hover .owl-nav div.owl-next {
  left: auto;
  right: 20px;
}

.slide__carosel.owl-theme .owl-nav [class*="owl-"] {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}

.slide__carosel.owl-theme .owl-nav [class*="owl-"] {
  font-size: 24px;
}

.slide__carosel.owl-theme .owl-nav .disabled {
  opacity: 1;
}

.slide__carosel.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #89d700 none repeat scroll 0 0;
}

/*--------------------------
  Animation
-------------------------------*/
.slide__carosel .slide__inner h1 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.slide__carosel .slide__inner .slider__text h2, .slide__carosel .slide__inner h6, .slide__carosel .slide__inner h4 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.slide__carosel .slide__inner .slider__text h2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.slide__carosel .slide__inner h6 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.slide__carosel .slide__inner p {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.slide__carosel .slider__btn .dcare__btn {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.slide__carosel .slide__inner h1, .slide__carosel .slide__inner p, .slide__carosel .slide__inner .slider__text h2, .slide__carosel .slide__inner h6, .slide__carosel .slide__inner h4, .slide__carosel .slider__btn .dcare__btn, .slider__btm__img-1, .slider__btm__img-2 {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.slider__btm__img-1 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.slider__btm__img-2 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.slide__carosel .owl-item.active .slider__btm__img-1 {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.slide__carosel .owl-item.active .slider__btm__img-2 {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.slide__carosel .owl-item.active .slide__inner h1 {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.slide__carosel .owl-item.active .slider__text h2 {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.slide__carosel .owl-item.active .slide__inner h6, .slide__carosel .owl-item.active .slider__text h4, .slide__carosel .owl-item.active .slider__btn .dcare__btn {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.slide__carosel .owl-item.active .slide__inner h6, .slide__carosel .owl-item.active .slide__inner p, .slide__carosel .owl-item.active .slide__inner h4 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.slide__carosel .owl-item.active .slider__btn .dcare__btn {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@media only screen and (min-width:992px) and (max-width:1199px) {
  .slider--five .slide .slide__inner p {
    width: 90%;
  }

  .slider__btm__img-1 {
    width: 448px;
  }

}

@media only screen and (min-width:768px) and (max-width:991px) {
  .fullscreen {
    min-height: 70vh;
  }

  .slider--three .slide .slide__inner h1 {
    font-size: 67px;
  }

  .slider--five .slide .slide__inner p {
    width: 93%;
  }

  .slider__btm__img-1 {
    width: 351px;
  }

}

@media only screen and (max-width:767px) {
  .slide .slide__inner h1 {
    font-size: 59px;
  }

  .fullscreen {
    min-height: 70vh;
  }

  .slider--three .slide .slide__inner h1 {
    font-size: 52px;
  }

  .fixed--height {
    height: auto;
    padding: 100px 0;
  }

  .slider--three .slide .slide__inner .slider__btn {
    margin-top: 17px;
  }

  .slider--three .slide .slide__inner h4 {
    margin-bottom: 12px;
    margin-top: 0px;
  }

  .slider--four .slide .slide__inner h1 {
    font-size: 54px;
    line-height: 62px;
  }

  .slider--four .slide .slide__inner p {
    width: 80%;
  }

  .slider--four .slide .slide__inner .slider__btn {
    margin-top: 32px;
  }

  .slider--five .slide .slide__inner p {
    width: 100%;
  }

  .slider--five .slide .slide__inner h1 {
    font-size: 40px;
    margin-bottom: 18px;
    padding: 0;
  }

  .slider__btm__img-1 {
    display: none;
  }

  .slider__btm__img-2 {
    display: none;
  }

  .slider--four.slider__fixed--height, .slider--two.slider__fixed--height, .slider--five.slider__fixed--height {
    height: auto;
    padding: 100px 0;
  }

}

@media only screen and (max-width:575px) {
  .slide .slide__inner h1 {
    font-size: 48px;
  }

  .fullscreen {
    min-height: auto;
    padding: 100px 0;
  }

  .slider--three .slide .slide__inner h1 {
    font-size: 39px;
  }

  .slider--four .slide .slide__inner h1 {
    font-size: 41px;
  }

  .slider--four .slide .slide__inner p {
    width: 100%;
  }

}

@media only screen and (max-width:420px) {
  .slide .slide__inner h1 {
    font-size: 30px;
  }

  .slide .slide__inner .slider__text h2 {
    font-size: 30px;
  }

  .slider--two .slide .slide__inner h1 {
    font-size: 30px;
    line-height: 39px;
  }

  .slider--three .slide .slide__inner h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .slider--three .slide .slide__inner h1 {
    line-height: 57px;
    font-size: 30px;
  }

  .slider--three .slide .slide__inner h4 {
    font-size: 38px;
    line-height: 53px;
  }

  .slider--four .slide .slide__inner h1 {
    font-size: 31px;
    line-height: 49px;
  }

  .slider--five .slide .slide__inner h1 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 0;
  }

}


















/* Background Image */
.bg-pngimage--1 {
  background-image: url(../images/my_post_images_1/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.bg-pngimage--2 {
  background-image: url(../images/my_post_images_1/hero-bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.bg-pngimage--3 {
  background-image: url(../images/my_post_images_1/hero-bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}




img.slider_logo {
  margin: 30px auto 100px;
  max-width: 400px;
  width: 100%;
}







































